{% extends "admin/change_list.html" %}

{% block extrahead %}
    {{ block.super }}
    {% if cl.formset or action_form %}
        <script type="text/javascript">
            (function ($) {
                $(document).ready(function ($) {
                    var dealWithChange = function (id, oldValue) {
                        // raise error when color exists
                        console.log("value for id " + id + " is " + oldValue);
                        $("#" + id).on("change", function () {
                            var newValue = $(this).val();
                            if (newValue !== oldValue) {
                                $(this).css("color", "red");
                            } else {
                                $(this).attr('style',$(this).attr('style').replace('color: red;',''));
                            }
                        });
                    };
                    $(".field-read_count input").each(function (index, element) {
                        dealWithChange($(this).attr("id"), $(this).val());
                    });
                });
            })(django.jQuery);
        </script>
    {% endif %}
{% endblock %}